$WebH1: '28px IBM Plex Sans Thai Semibold';
$WebH2: '24px IBM Plex Sans Thai Medium';
$WebH3: '20px IBM Plex Sans Thai Medium';
$WebH4: '16px IBM Plex Sans Thai Medium';
$WebBody1: '16px IBM Plex Sans Thai Regular';
$WebBody2: '14px IBM Plex Sans Thai Regular';
$WebCaption: '12px IBM Plex Sans Thai Regular';